/target/
**/*.rs.bk
Notion.msi
Jetson.msi
dev/windows/*.log
dev/windows/Notion.wixobj
dev/windows/Jetson.wixobj
dev/windows/Notion.wixpdb
dev/windows/Jetson.wixpdb
dev/unix/install.sh
/.idea/
/rls/
/rls*
