<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!--
  all built-in variables: http://wixtoolset.org/documentation/manual/v3/bundle/bundle_built_in_variables.html
  -->

  <Product Id="10F5B6C9-7D75-411E-8686-3964129D022A"
           Name="Nodeup"
           Manufacturer="The Nodeup Maintainers"
           UpgradeCode="42A39E14-335A-4464-AA37-17FDA38FA377"
           Language="1033"
           Codepage="1252"
           Version="0.1.0">

    <!--
    suppress ICE errors for per-user installers:
    https://stackoverflow.com/questions/30999861/wix-per-user-installation-does-every-file-need-to-have-a-registry-value-associa
    https://blogs.msdn.microsoft.com/astebner/2007/11/18/using-wix-3-0-to-create-a-per-user-msi-that-does-not-prompt-for-elevation-on-windows-vista/

    per-user scope:
    https://www.joyofsetup.com/2008/04/01/new-wix-feature-setting-package-installation-scope/
    -->
    <Package Id="*"
             Keywords="Installer"
             Description="Nodeup installer"
             Manufacturer="The Nodeup Maintainers"
             InstallerVersion="200"
             InstallScope="perUser"
             Platform="x64"
             Languages="1033"
             SummaryCodepage="1252"
             Compressed="yes"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of Nodeup is already installed." />
    <Media Id="1"
           Cabinet="Nodeup.cab"
           EmbedCab="yes"/>

    <!--
    ALLUSERS as low-level per-user scope attribute: https://corengen.wordpress.com/2009/09/29/wix-allusers1/
    <Property Id="ALLUSERS"><![CDATA[1]]></Property>
    -->

    <!--
    https://stackoverflow.com/questions/38370417/windows-installer-not-deleting-all-files-on-uninstall
    https://pkisensee.wordpress.com/2015/10/06/windows-installer-removing-folders/
    -->
    <DirectoryRef Id='INSTALLDIR'>
      <Component Id="RemoveOptBinDir" Guid="*">
        <RegistryKey Root="HKCU" Key="Software\Nodeup">
          <RegistryValue Name="Binstubs"
                         Type="string"
                         Value="[OptBinDir]"
                         Action="write"
                         KeyPath="yes" />
        </RegistryKey>
        <CreateFolder Directory="OptBinDir" />
        <util:RemoveFolderEx Property="FINDOPTBINDIR" On="uninstall" />
        <RemoveFolder Id="OptBinDir" Directory="OptBinDir" On="uninstall" />
      </Component>
    </DirectoryRef>

    <!--
    Secure = "yes": https://stackoverflow.com/questions/25011050/wix-removefolderex-not-working
    -->
    <Property Id="FINDOPTBINDIR" Secure="yes">
      <RegistrySearch Id="RegistrySearchBinstubs" Type="raw" Root="HKCU" Key="Software\Nodeup" Name="Binstubs" />
    </Property>

    <!-- creating empty directories: https://www.packtpub.com/mapt/book/application_development/9781849513722/2/ch02lvl1sec21/creating-an-empty-folder -->
    <DirectoryRef Id="OptBinDir">
      <Component Id="CreateOptBinDir"
                 Guid="56E719E4-78BB-4841-8912-D471ADE84159"
                 KeyPath="yes">
        <CreateFolder />
        <!--<RemoveFile Id="RemoveNode" Directory="OptBinDir" Name="node.exe" On="uninstall" />-->
        <!--<RemoveFolder Id="RemoveOptBinDir" Directory="OptBinDir" On="uninstall" />-->
        <RemoveFolder Id="RemoveOptDir" Directory="OptDir" On="uninstall" />
      </Component>
    </DirectoryRef>

    <!--
    https://stackoverflow.com/questions/38370417/windows-installer-not-deleting-all-files-on-uninstall
    https://pkisensee.wordpress.com/2015/10/06/windows-installer-removing-folders/
    -->
    <DirectoryRef Id='INSTALLDIR'>
      <Component Id="RemoveVersionsNodeDir" Guid="*">
        <RegistryKey Root="HKCU" Key="Software\Nodeup">
          <RegistryValue Name="NodeVersions"
                         Type="string"
                         Value="[VersionsNodeDir]"
                         Action="write"
                         KeyPath="yes" />
        </RegistryKey>
        <CreateFolder Directory="VersionsNodeDir" />
        <util:RemoveFolderEx Property="FINDVERSIONSNODEDIR" On="uninstall" />
        <RemoveFolder Id="VersionsNodeDir" Directory="VersionsNodeDir" On="uninstall" />
      </Component>
    </DirectoryRef>

    <!--
    Secure = "yes": https://stackoverflow.com/questions/25011050/wix-removefolderex-not-working
    -->
    <Property Id="FINDVERSIONSNODEDIR" Secure="yes">
      <RegistrySearch Id="RegistrySearchNodeVersions" Type="raw" Root="HKCU" Key="Software\Nodeup" Name="NodeVersions" />
    </Property>

    <!-- creating empty directories: https://www.packtpub.com/mapt/book/application_development/9781849513722/2/ch02lvl1sec21/creating-an-empty-folder -->
    <DirectoryRef Id="VersionsNodeDir">
      <Component Id="CreateVersionsNodeDir"
                 Guid="D142AE24-C7AB-43C3-81B4-62AC4FCB26D1"
                 KeyPath="yes">
        <CreateFolder />
        <!--<RemoveFile Id="RemoveNode" Directory="OptBinDir" Name="node.exe" On="uninstall" />-->
        <!--<RemoveFolder Id="RemoveOptBinDir" Directory="OptBinDir" On="uninstall" />-->
        <RemoveFolder Id="RemoveVersionsDir" Directory="VersionsDir" On="uninstall" />
      </Component>
    </DirectoryRef>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder" Name="ADLocal">
        <Directory Id="INSTALLDIR" Name="Nodeup">
          <Component Id="UserConfigToml"
                     Guid="051CBA00-D65B-44AD-B2F2-76C75D28EF04"
                     Win64="yes">
            <File Id="ConfigToml"
                  Name="config.toml"
                  DiskId="1"
                  Source="support\windows\config.toml"
                  KeyPath="yes">
            </File>
            <RemoveFolder Id="RemoveINSTALLDIR" Directory="INSTALLDIR" On="uninstall" />
          </Component>

          <Directory Id="NodeupBin" Name="bin">
            <Component Id="NodeupExecutable"
                       Guid="F1FBF564-E557-47A8-96D3-EBD4ED39AF95"
                       Win64="yes">
              <File Id="NodeupEXE"
                    Name="nodeup.exe"
                    DiskId="1"
                    Source="target\release\nodeup.exe"
                    KeyPath="yes">
              </File>
              <RemoveFolder Id="RemoveNodeupBin" Directory="NodeupBin" On="uninstall" />
            </Component>
          </Directory>

          <Directory Id="BinstubDataDir" Name="binstub">
            <Component Id="BinstubExecutable"
                       Guid="83786F85-45AF-4F3F-ACA2-8D6A83C21729"
                       Win64="yes">
              <File Id="BinstubEXE"
                    Name="binstub.exe"
                    DiskId="1"
                    Source="target\release\binstub.exe"
                    KeyPath="yes">
              </File>
              <RemoveFolder Id="RemoveBinstubDataDir" Directory="BinstubDataDir" On="uninstall" />
            </Component>
          </Directory>

          <Directory Id="OptDir" Name="opt">
            <Directory Id="OptBinDir" Name="bin" />
          </Directory>

          <Directory Id="VersionsDir" Name="versions">
            <Directory Id="VersionsNodeDir" Name="node" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!--
    deferred semantics: https://www.symantec.com/connect/blogs/basic-differences-execute-immediate-and-execute-deferred-ca
    quiet execution: http://wixtoolset.org/documentation/manual/v3/customactions/qtexec.html
    -->
    <CustomAction Id="MakeHardLink_set"
                  Property="MakeHardLink"
                  Value='"[SystemFolder]cmd.exe" /C mklink /H "[LocalAppDataFolder]Nodeup\opt\bin\node.exe" "[LocalAppDataFolder]Nodeup\binstub\binstub.exe"'
                  Execute='immediate' />
    <CustomAction Id="MakeHardLink"
                  BinaryKey="WixCA"
                  DllEntry="WixQuietExec"
                  Execute="deferred"
                  Return="ignore"
                  Impersonate="yes" />

    <InstallExecuteSequence>
      <!-- conditions: https://stackoverflow.com/questions/537584/how-to-execute-custom-action-only-in-install-not-uninstall -->
      <Custom Action="MakeHardLink_set" After="InstallFiles">NOT REMOVE</Custom>
      <Custom Action="MakeHardLink" After="MakeHardLink_set">NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <Feature Id="Complete">
      <ComponentRef Id='NodeupExecutable'/>
      <ComponentRef Id='BinstubExecutable'/>
      <ComponentRef Id='UserConfigToml'/>
      <ComponentRef Id='CreateOptBinDir'/>
      <ComponentRef Id="RemoveOptBinDir"/>
      <ComponentRef Id='CreateVersionsNodeDir'/>
      <ComponentRef Id='RemoveVersionsNodeDir'/>
    </Feature>
  </Product>
</Wix>
